@import "tailwindcss";

@theme {
  --color-primary: #007BFF;
  --color-darkBlue: #0B1E3F;
  --color-skyBlue: #50C9F2;
  --color-graphite: #1E1E2F;
  --color-cloud: #E5E8EC;
  --color-offWhite: #F9FBFF;
  --color-green: #2ECC71;
  --color-orange: #F39C12;
  --color-purple: #8E44AD;

  --background: var(--color-offWhite);
  --foreground: var(--color-graphite);
}

body {
  font-family: sans-serif;
}

